<!DOCTYPE html>
<html>
  <head>
    <title>recyclable</title>
    <style>
      .first {
        background-image: url(website-mock.jpg);
        background-size: 1540px 1000px;
        height: 1000px;
        margin: 0 auto;
      }
      .third {
        background-image: url("info-page-website.jpg");
        background-size: 1540px 1000px;
        height: 1000px;
        margin: 0 auto;
      }

      .sec {
        background-image: url(anova-website-search-results-page.jpg);
        background-size: 1540px 1000px;
        height: 1000px;
        margin: 0 auto;
      }

    </style>
  </head>
  <body>
    <div class = "first">
      
    </div>
    <div class = "sec">

    </div>
